In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import timedelta

In [2]:
data = pd.read_csv('trades.csv',sep=',')

In [3]:
data.head()

     MS US Equity Unnamed: 1  Unnamed: 2   TXN US Equity Unnamed: 4
0           Dates      Close         NaN           Dates      Close
1  23/1/2019 9:30      42.57         NaN  23/1/2019 9:30      96.63
2  23/1/2019 9:31      42.46         NaN  23/1/2019 9:31      96.42
3  23/1/2019 9:32      42.49         NaN  23/1/2019 9:32      96.51
4  23/1/2019 9:33      42.43         NaN  23/1/2019 9:33      96.81

In [4]:
formatDateTime = '%d/%m/%Y %H:%M'

In [5]:
#Settings

equity = 'TXN'

startTime = '9:20'
endTime = '16:00'
startDate = '7/6/2019'
endDate = '21/6/2019'

minutesDelta = 120

In [6]:
def securityIndex(equity, data):    
    ticker = equity + ' US Equity'
    index=0
    counter=0

    for col in data.columns:
        if col==ticker: 
            index = counter
        counter = counter+1
        
    return index

In [7]:
index = securityIndex(equity, data)
print(index)

3

In [8]:
def processTimeSeries(startTime, startDate, endTime, endDate, equity, data, minutesDelta):

    array2D = []
    array2D.append([])
    array2D.append([])
 
    startDateTime = datetime.strptime(startDate+' '+startTime, formatDateTime)
    endDateTime = datetime.strptime(endDate+' '+endTime, formatDateTime)

    dateTime = startDateTime
    counter = 1
    index = securityIndex(equity, data)
    tradingDay = True
    incrementCounter = True

    while dateTime<=endDateTime:
        if incrementCounter or (recordDateTime<dateTime):
            counter = counter + 1
        if data.iloc[counter,index] != '' and data.iloc[counter,index] != 'nan':
            
            recordDateTime = datetime.strptime(data.iloc[counter,index], formatDateTime)
            #print(recordDateTime)
            if recordDateTime>=dateTime:
                minDelta = (recordDateTime-dateTime).days*24*60
                if recordDateTime == dateTime or (tradingDay==False and minDelta <=30.0):
                    array2D[0].append(dateTime)
                    dateTime = dateTime + timedelta(minutes=minutesDelta)
                    tradingDay = True 
                    incrementCounter = True
                    array2D[1].append(float(data.iloc[counter, index+1]))
                elif recordDateTime>dateTime:
                    eodDateTime = datetime.strptime(str(dateTime.day) +"/"+ str(dateTime.month) + "/"+ str(dateTime.year) +' '+endTime, formatDateTime)
                    if recordDateTime >= eodDateTime:
                        if tradingDay and (eodDateTime.day == recordDateTime.day):
                            array2D[0].append(eodDateTime)
                            array2D[1].append(float(data.iloc[counter, index+1]))
                            #print("Match2")
                        else:
                            incrementCounter = False
                        dateTime = dateTime + timedelta(days=1)
                        dateTime = datetime.strptime(str(dateTime.day) +"/"+ str(dateTime.month) + "/"+ str(dateTime.year) +' '+startTime, formatDateTime)
                    tradingDay = False
                    #print(dateTime)
                    #print(tradingDay)
                    #print((recordDateTime-dateTime).days*24*60)
                
    return array2D

In [9]:
processTimeSeries(startTime, startDate, endTime, endDate, equity, data, minutesDelta)

[[datetime.datetime(2019, 6, 7, 9, 20),
  datetime.datetime(2019, 6, 7, 11, 20),
  datetime.datetime(2019, 6, 7, 13, 20),
  datetime.datetime(2019, 6, 7, 15, 20),
  datetime.datetime(2019, 6, 10, 9, 20),
  datetime.datetime(2019, 6, 10, 11, 20),
  datetime.datetime(2019, 6, 10, 13, 20),
  datetime.datetime(2019, 6, 10, 15, 20),
  datetime.datetime(2019, 6, 11, 9, 20),
  datetime.datetime(2019, 6, 11, 11, 20),
  datetime.datetime(2019, 6, 11, 13, 20),
  datetime.datetime(2019, 6, 11, 15, 20),
  datetime.datetime(2019, 6, 12, 9, 20),
  datetime.datetime(2019, 6, 12, 11, 20),
  datetime.datetime(2019, 6, 12, 13, 20),
  datetime.datetime(2019, 6, 12, 15, 20),
  datetime.datetime(2019, 6, 13, 9, 20),
  datetime.datetime(2019, 6, 13, 11, 20),
  datetime.datetime(2019, 6, 13, 13, 20),
  datetime.datetime(2019, 6, 13, 15, 20),
  datetime.datetime(2019, 6, 14, 9, 20),
  datetime.datetime(2019, 6, 14, 11, 20),
  datetime.datetime(2019, 6, 14, 13, 20),
  datetime.datetime(2019, 6, 14, 15, 20),
  datetime.datetime(2019, 6, 17, 9, 20),
  datetime.datetime(2019, 6, 17, 11, 20),
  datetime.datetime(2019, 6, 17, 13, 20),
  datetime.datetime(2019, 6, 17, 15, 20),
  datetime.datetime(2019, 6, 18, 9, 20),
  datetime.datetime(2019, 6, 18, 11, 20),
  datetime.datetime(2019, 6, 18, 13, 20),
  datetime.datetime(2019, 6, 18, 15, 20),
  datetime.datetime(2019, 6, 19, 9, 20),
  datetime.datetime(2019, 6, 19, 11, 20),
  datetime.datetime(2019, 6, 19, 13, 20),
  datetime.datetime(2019, 6, 19, 15, 20),
  datetime.datetime(2019, 6, 20, 9, 20),
  datetime.datetime(2019, 6, 20, 11, 20),
  datetime.datetime(2019, 6, 20, 13, 20),
  datetime.datetime(2019, 6, 20, 15, 20),
  datetime.datetime(2019, 6, 21, 9, 20),
  datetime.datetime(2019, 6, 21, 11, 20),
  datetime.datetime(2019, 6, 21, 13, 20),
  datetime.datetime(2019, 6, 21, 15, 20)],
 [110.6,
  111.63,
  111.27,
  111.088,
  111.805,
  112.75,
  113.04,
  112.93,
  114.08,
  113.63,
  112.305,
  112.85,
  112.305,
  110.979,
  110.59,
  110.045,
  110.465,
  110.5,
  110.93,
  110.79,
  107.45,
  107.52,
  107.22,
  107.8,
  107.46,
  107.57,
  107.36,
  107.3,
  107.88,
  111.23,
  110.63,
  111.0,
  111.945,
  111.14,
  110.935,
  111.66,
  114.005,
  112.29,
  112.13,
  112.34,
  112.36,
  112.935,
  112.35,
  112.41]]

In [55]:
#RSI

startTime = '16:00'
endTime = '16:00'
startDate = '1/2/2019'
endDate = '10/6/2019'

minutesDelta = 1440

eodTimeSeries = processTimeSeries(startTime, startDate, endTime, endDate, equity, data, minutesDelta)
pd.DataFrame(eodTimeSeries[1]).diff()

         0
0      NaN
1   -0.100
2   -0.090
3    0.520
4    4.160
5   -2.620
6    0.690
7    0.800
8   -0.590
9    1.680
10   0.710
11  -0.180
12   0.600
13  -0.350
14   0.060
15   0.660
16  -1.300
17   0.670
18   1.555
19  -0.675
20  -0.920
21  -1.560
22   0.070
23   0.980
24   0.780
25  -0.140
26  -0.830
27  -1.150
28  -0.470
29  -0.090
..     ...
78   1.820
79  -1.930
80  -1.370
81  -0.410
82   0.450
83  -3.085
84  -2.405
85   1.930
86   1.250
87  -1.080
88  -2.420
89  -2.395
90   0.335
91   2.270
92  -0.220
93  -0.950
94  -0.770
95   0.400
96  -2.250
97   0.940
98   1.290
99  -1.130
100  1.710
101 -0.850
102  3.950
103  0.360
104  0.710
105  0.980
106  0.635
107  0.825

[108 rows x 1 columns]

In [66]:
def RSICalc(eodTimeSeries, period=14):
    delta = pd.DataFrame(eodTimeSeries[1]).diff()
    
    up, down = delta.copy(), delta.copy()
    up[up < 0] = 0
    down[down > 0] = 0

    # Calculate the SMA
    roll_up2 = up.rolling(window=period).mean()
    roll_down2 = (down.rolling(window=period).mean()).abs()
    
    # Calculate the RSI based on SMA
    RS2 = roll_up2 / roll_down2
    RSI2 = 100.0 - (100.0 / (1.0 + RS2))

    return RSI2

In [73]:
def MACD(eodTimeSeries, shortPeriod=12, longPeriod=26):

    price = pd.DataFrame(eodTimeSeries[1])
    exp1 = price.ewm(span=shortPeriod, adjust=False).mean()
    exp2 = price.ewm(span=longPeriod, adjust=False).mean()
    macd = exp1-exp2
    
    return macd

In [70]:
RSICalc(eodTimeSeries)

             0
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14   70.114068
15   72.064187
16   66.219839
17   66.556072
18   59.566787
19   70.579848
20   62.651163
21   51.563858
22   54.640582
23   51.554908
24   51.882239
25   52.083333
26   45.260664
27   42.070485
28   40.093537
29   36.237712
..         ...
78   51.000572
79   50.710631
80   43.244771
81   37.312537
82   30.656934
83   27.345368
84   23.779855
85   30.897010
86   35.385317
87   30.301645
88   29.130053
89   22.764228
90   23.796791
91   34.794816
92   28.932715
93   30.311133
94   31.221833
95   33.241483
96   28.423713
97   36.324242
98   45.486486
99   36.638418
100  38.243392
101  38.733965
102  55.986639
103  64.591105
104  65.337079
105  62.628710
106  64.844904
107  70.238095

[108 rows x 1 columns]

In [74]:
MACD(eodTimeSeries)

            0
0    0.000000
1   -0.007977
2   -0.021316
3    0.009958
4    0.366199
5    0.432129
6    0.533902
7    0.671371
8    0.724359
9    0.891636
10   1.069171
11   1.181721
12   1.304298
13   1.357551
14   1.388588
15   1.449730
16   1.377409
17   1.358497
18   1.452245
19   1.455297
20   1.367714
21   1.159064
22   0.987967
23   0.920834
24   0.919966
25   0.897634
26   0.803696
27   0.629202
28   0.447827
29   0.293441
..        ...
78   1.068556
79   0.805190
80   0.480385
81   0.187727
82  -0.007805
83  -0.407008
84  -0.906987
85  -1.134412
86  -1.199952
87  -1.323779
88  -1.598758
89  -1.987032
90  -2.241867
91  -2.234893
92  -2.221511
93  -2.261493
94  -2.328470
95  -2.322501
96  -2.470845
97  -2.483925
98  -2.362960
99  -2.331401
100 -2.143696
101 -2.040011
102 -1.620428
103 -1.244511
104 -0.879168
105 -0.504735
106 -0.154969
107  0.186642

[108 rows x 1 columns]